@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  background: rgb(2 6 23); /* slate-950 */
  color: rgb(248 250 252); /* slate-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: inherit; }
/* Hide default scrollbars */
::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html, body, * {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
